<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Pers_uchet_org.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Pers_uchet_org.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Pers_uchet_org.Properties.Custom" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Pers_uchet_org.Custom" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <applicationSettings>
        <Pers_uchet_org.Properties.Settings>
            <setting name="report_adv1" serializeAs="String">
                <value>Static/template/report_(форма АДВ-1).html</value>
            </setting>
            <setting name="report_adv2" serializeAs="String">
                <value>Static/template/report_(форма АДВ-2).html</value>
            </setting>
            <setting name="report_adv3" serializeAs="String">
                <value>Static/template/report_(форма АДВ-3).html</value>
            </setting>
            <setting name="report_adv4" serializeAs="String">
                <value>Static/template/report_(форма АДВ-4).html</value>
            </setting>
            <setting name="report_adv5" serializeAs="String">
                <value>Static/template/report_(форма АДВ-5).html</value>
            </setting>
            <setting name="report_adv6" serializeAs="String">
                <value>Static/template/report_(форма АДВ-6).html</value>
            </setting>
            <setting name="report_szv1" serializeAs="String">
                <value>Static/template/report_(форма СЗВ-1).html</value>
            </setting>
            <setting name="report_szv2" serializeAs="String">
                <value>Static/template/report_(форма СЗВ-2).html</value>
            </setting>
            <setting name="report_szv3" serializeAs="String">
                <value>Static/template/report_(форма СЗВ-3).html</value>
            </setting>
            <setting name="xsl_szv1" serializeAs="String">
                <value>Static/xsl/szvstyle.xsl</value>
            </setting>
            <setting name="xsl_szv2" serializeAs="String">
                <value>Static/xsl/szvopisstyle.xsl</value>
            </setting>
            <setting name="xsl_szv3" serializeAs="String">
                <value>Static/xsl/svodstyle.xsl</value>
            </setting>
            <setting name="xsl_map" serializeAs="String">
                <value>Static/xsl/mapstyle.xsl</value>
            </setting>
            <setting name="DataBaseFileName" serializeAs="String">
                <value>orgDB.db</value>
            </setting>
            <setting name="xsd_szv1" serializeAs="String">
                <value>Static/xsd/blank.xsd</value>
            </setting>
            <setting name="xsd_szv2" serializeAs="String">
                <value>Static/xsd/opis.xsd</value>
            </setting>
            <setting name="xsd_szv3" serializeAs="String">
                <value>Static/xsd/svod.xsd</value>
            </setting>
            <setting name="report_calculate" serializeAs="String">
                <value>Static/template/report_(калькуляция).html</value>
            </setting>
        </Pers_uchet_org.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Pers_uchet_org.Properties.Settings>
            <setting name="IsBackupEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value>Backup</value>
            </setting>
            <setting name="BackupMaxCount" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DataBasePath" serializeAs="String">
                <value>//SRV3-STATEPF/e$/Programmers Archive/Db_for_orgs/orgDB.db</value>
            </setting>
            <setting name="xsl_orgproperties" serializeAs="String">
                <value>Static/xsl/orgpropertystyle.xsl</value>
            </setting>
            <setting name="TempFolder" serializeAs="String">
                <value>egfss_edoc</value>
            </setting>
            <setting name="ProxyAddr" serializeAs="String">
                <value/>
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="ProxyLogin" serializeAs="String">
                <value/>
            </setting>
            <setting name="ProxyPass" serializeAs="String">
                <value/>
            </setting>
            <setting name="ProxyUseAuto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BypassProxyOnLocal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseDefaultCredentials" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="report_docs_list" serializeAs="String">
                <value>Static/template/report_(пофамильный список).html</value>
            </setting>
            <setting name="report_unregistered_list" serializeAs="String">
                <value>Static/template/report_(список незарегистрированных лиц).html</value>
            </setting>
        </Pers_uchet_org.Properties.Settings>
        <Pers_uchet_org.Properties.Custom>
            <setting name="IsBackupEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value>Backup</value>
            </setting>
            <setting name="BackupMaxCount" serializeAs="String">
                <value>100</value>
            </setting>
        </Pers_uchet_org.Properties.Custom>
        <Pers_uchet_org.Custom>
            <setting name="IsBackupEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value>Backup</value>
            </setting>
            <setting name="BackupMaxCount" serializeAs="String">
                <value>100</value>
            </setting>
        </Pers_uchet_org.Custom>
    </userSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Libs"/>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup></configuration>
