<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pers_uchet_org.Properties.Settings.orgDBConnectionString1"
            connectionString="data source=D:\Dropbox\Работа\Programming\VS_Projects\Pers_uchet_org\Pers_uchet_org\orgDB.db;datetimeformat=ISO8601"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>